<html>
    <head>
        <title>
            <!-- <%= title %> -->
            home
        </title>
        <!-- <link rel="stylesheet" href="../assets/css/layout.css"> -->
        <link rel="stylesheet" href="/css/layout.css">
    </head>
    <body>
        <h1 style="margin: 5rem auto; text-align: center">
            <!-- Codeial / <%= bodyTitle %> -->
            <h1>Hello home</h1>
        </h1>
    </body>
</html>