<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- <link rel="stylesheet" href="../assets/css/user_profile.css">-->  <!-- Doesn't work -->
        <link rel="stylesheet" href="/css/user_profile.css">
    </head>

    <body>
        <h1> hello: this is </h1>
    </body>
</html>