<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- <link rel="stylesheet" href="../assets/css/user_profile.css">-->  <!-- Doesn't work -->
        <link rel="stylesheet" href="/css/user_profile.css">
    </head>

    <body>
        <h1> hello: this is layout of view. </h1>
        <!-- <%-include('_header')%> -->
        <h1>This is body of the layout view page.</h1>
        <!-- <%include('_footer')%> -->
   
    </body>
</html>