<h1>Sign In Page</h1>
 
<form action="users/createsession" method="POST">
    <input type="email" name="email" placeholder="your eamil" required>
    <input type="password" name="password" placeholder="Your password" required>
    
    <input type="submit" value="sign In">
</form>

