<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <!-- need to make controller for this route -->
    <h1>playground</h1>

    <!-- for loop with Ejs -->
    <ul>
        <%for(let i =1; i< 6; i++){%>
        <li>
            <%=i%> &nbsp is the iteration count
        </li>
        <%}%>
    </ul>

    <!-- if else with ejs -->
    <%if (true){%> 
        <h1>It is true.</h1>    
    <%}else{%>
        <h1>It's False.</h1>
    <%}%> 


</body>
</html>