<link rel="stylesheet" href= "/css/user_profile.css">

<h1> Codeial / Profile Page </h1>


<!-- The 'user' object itself, which is being referenced in the view template 
<%= user.name %> and <%= user.email %>, is usually stored in the session or request object after a successful authentication. The specific implementation may vary depending on the authentication strategy being used in the application. -->

<!-- Commonly, after a user logs in, their user information is retrieved from a database or other data source and stored in the session or request object. This allows the user data to be accessed throughout the session or request lifecycle. -->
<p> <%= user.name %></p>
<p> <%= user.email %> </p>

