
header{
    font-size: 1rem;
    background-color: goldenrod;
    color: whitesmoke;
    padding: 1rem;
}

body{
    background-color: blueviolet;
    color: aqua;
}

footer{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: goldenrod;
    color: whitesmoke;
    padding: 1rem;
}
